/* 1) screen - telas em geral
2) print - aplica apenas caso alguém vá imprimir 
3) speech aplica para leitor de tela, reconhecimento por voz da página
4) all - atinge todos os outros 
5) mobile first - o design é feito primeiro para mobile */
 
 
 /* Ele define uma mídia query que aplicaria um fundo vermelho ao corpo da página quando a largura da tela fosse 664 pixels ou menos. 

    @media screen and (max-width: 664px) {
        body{
            background-color: red;
        }
    }  */


/* Mídia query que aplica o fundo vermelho ao corpo da página quando a orientação do dispositivo for retrato (portrait) e a largura da tela for de 640 pixels ou menos. Isso significa que em dispositivos móveis com telas pequenas, que estão sendo segurados na vertical, o fundo ficará vermelho. */
 /* @media screen and (orientation: portrait) and (max-width: 640px) {
    body{
        background-color: red;
    }
 } */

/* Mídia query específica para impressão. Quando o usuário tentar imprimir a página, os títulos `<h3>` serão exibidos em vermelho na impressão. */
/* 2 - print */
@media print {
    h1 {
        color: green  !important;
    }
 } 

* {
    color: red;
}
/* 1 - screen */
@media screen and (max-width: 500px){
    /* max-width = tela menor que alguma resolução */
    h1{
        color: blue;
    }
}
/* 4 - all (default) */
@media (max-width: 700px){
    h2 {
        color: yellow;
    }
}
/* 5 - mobile first */
/* min-width > max-width */
/* min-width = Tela maior que alguma coisa */
@media (min-width: 200px){
    h3{
        color: teal;
    }
}
